.mapbox {
  bottom: 0;
  position: absolute;
  top: 4.5rem;
  width: 100%;
}

.outdoors {
  composes: mapbox;
  background-color: var(--light-cream);
}

.satellite {
  composes: mapbox;
  background-color: var(--black);
}
